<!-- cards -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common {% if 'registration' in request.path %} card-current {% endif %}">
                            <a href="{% url 'student-registration' slug=user.institute.slug %}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-user fa-3x text-info"></i>
                                        <div class="text-right text-secondary">
                                            <h5>Register New</h5>
                                            <h3>User</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>Register Now</span>
                                </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common {% if 'view-registered-users' in request.path %} card-current {% endif %}">
                            <a href="{% url 'view-registered-users' slug=user.institute.slug %}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-users fa-3x text-info"></i>
                                        <div class="text-right text-secondary">
                                            <h5>View/Edit Registered</h5>
                                            <h3>Users</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>View/Edit Now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common {% if 'view-posts' in request.path %} card-current {% endif %}">
                            <a href="{% url 'view-posts' slug=user.institute.slug %}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-file-alt fa-3x text-info"></i>
                                        <div class="text-right text-secondary">
                                            <h5>View</h5>
                                            <h3>Posts</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>View Now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common {% if 'view-comments' in request.path %} card-current {% endif %}">
                            <a href="{% url 'view-comments' slug=user.institute.slug %}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <i class="fas fa-comments fa-3x text-info"></i>
                                        <div class="text-right text-secondary">
                                            <h5>View</h5>
                                            <h3>Comments</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary">
                                    <i class="fas fa-sync mr-3"></i>
                                    <span>View Now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of cards -->